.menu{
    text-align: center;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;  
    background-color: black;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
   
}
.body{
    background-color: whitesmoke;
    margin: 0px;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    border:  black;
    border-radius: 50px;
    margin: 50px;
   
}
.grid img{
    border:5px solid black;
    border-radius: 70px;
}
.origami{
    border-radius: 40px;
    background-color: white;
    padding: 30px;
    margin: 25px;  
    width:310px;
    font-family: fantasy;
}